    <!--====== Scripts -->
    <script src="/javascripts/admjs/js/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/admjs/js/sweetalert2.min.js"></script>
    <script src="/javascripts/admjs/js/bootstrap.min.js"></script>
    <script src="/javascripts/admjs/js/material.min.js"></script>
    <script src="/javascripts/admjs/js/ripples.min.js"></script>
    <script src="/javascripts/admjs/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/javascripts/admjs/js/main.js"></script>
    <script>
        $.material.init();
    </script>
</body>

</html>